* {
  font-family: "Lotion Black", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	background-image: none;
	transition: 20ms;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.8);
}

button {
	color: #FFFFFF;
  font-size:20px;
	margin: 10px;
	border-radius: 20px;
  background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
  background-color: unset;
	border-style: solid;
	border: 3px solid #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#lock {
	background-image: image(url("icons/lock.png"));
  background-color: #7facb3;
}

#logout {
	background-image: image(url("icons/logout.png"));
  background-color: #ff4500;
}

#shutdown {
	background-image: image(url("icons/shutdown.png"));
  background-color: #8b0000;
}

#reboot {
	background-image: image(url("icons/reboot.png"));
  background-color: #556b2f;
}

#hibernate {
	background-image: image(url("icons/hibernate.png"));
  background-color: #368cf9;
}
#suspend {
	background-image: image(url("icons/suspend.png"));
  background-color: #f4d3a7;
}

button:focus,
button:active,
button:hover {
  color: #FFFFFF;
	border: 3px solid #FFFFFF;
  background-color: #ffffff;
}
