
layout {
    pane split_direction="horizontal" size="100%" {
        pane size="75%" {
          split_direction "vertical"
          pane size="80%" {
            // stacked true
            pane borderless=true command="fish"  focus=true {
            // The ide.sh script runs helix or nvim depending on $EDITOR, and once closed, closes the tab.
                args "/home/mar/.config/zellij/scripts/ide.fish"
            }
          }
//          pane size="10%" {
//                borderless true
//               command "bun"
//               args "x" "@google/gemini-cli"
//          }
        }
        pane {
            split_direction "vertical"
             pane size="60%";
             children
             // pane
        }
    }
    pane borderless=true size=1 {
        plugin location="zellij:compact-bar"
    }
}

keybinds {
  unbind "Ctrl q"
  shared {
    bind "Ctrl q" { CloseTab; SwitchToMode "Normal"; }
  }
  tab {
    bind "n" { NewTab {
    layout "/home/mar/.config/zellij/layouts/default.kdl"
    }; SwitchToMode "locked"; }
  }
}
