
layout {
   pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="horizontal" size="100%" {
        pane size="90%" {
          split_direction "vertical"
          pane size="80%" {
            // stacked true
            pane borderless=true command="nvim"  focus=true close_on_exit=true
            // The editor pane, but I won't set nvim as command, because that'll disable it from using LSP's
            // I did now.
            // pane borderless=true command="~/.config/zellij/scripts/ide.sh"  focus=true
          }
//          pane size="10%" {
//                borderless true
//               command "bun"
//               args "x" "@google/gemini-cli"
//          }
        }
        pane {
            split_direction "vertical"
             pane size="60%";
             children
             pane
        }
    }
    pane borderless=true size=1 {
        plugin location="zellij:status-bar"
    }
}

keybinds {
  unbind "Ctrl q"
  shared {
    bind "Ctrl q" { CloseTab; SwitchToMode "Normal"; }
  }
}
